body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    transition: background 0.4s, color 0.4s;
}


.light {
    background: white;
    color: black;
}


.dark {
    background: black;
    color: white;
}

button {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}